html {
	font-size: 62.5%;	
	// border: 1px solid black;
}

.txtRobo {
	font-family: 'Roboto', sans-serif;
}

.Messages_Component {	
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	width: 75vw;
	max-width: 500px;
	input {
		font-size: 1.6rem;
	}

	.list_font_size {
	// font-size: 1.6rem;			
	display: inline-flex;
	position: relative;
	font-weight: bold;
	font-style: italic;
	overflow: hidden;
	padding-right: 1rem;
	}
}

.nav {
	display: block;
	background: lightgray;
	width: 25vw;
	max-width: 200px;
}
